<h1>Demo#index</h1>
<p>hello index</p>
<%= link_to("hello",{:controller => 'demo',:action => 'hello',:pie => 'koer'},{:class => 'pie', :data => "pie"}) %>
<br />
<%= link_to("hello with parameters",{:controller => 'demo',:action => 'hello',:pie => 'koer', :page => 5},{:class => 'pie', :data => "pie"}) %>
<br />
